<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="images/prompter-logo.png" class="img-logo me-2" alt="Prompter Logic" />

      <span class="logo-text">Prompter Logic</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mynavbar">
      <div class="navbar-nav ms-auto d-flex gap-2">
        <button class="btn btn-outline-light" routerLink="/workspace" routerLinkActive="active">
          New Prompt
        </button>

        <button class="btn btn-outline-light" routerLink="/saved" routerLinkActive="active">
          Saved Prompts
        </button>
      </div>
    </div>
  </div>
</nav>
